<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%#= form.text_field :instructor_id %>
    <%= form.select :instructor_id, options_from_collection_for_select(Instructor.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%#= form.text_field :course_id %>
    <%= form.select :course_id, options_from_collection_for_select(Course.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
