<p id="notice"><%= notice %></p>

<h1>Cohorts <%= link_to 'New Cohort', new_cohort_path, class: 'btn btn-success'  %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Cohort Name</th>
      <th>Course</th>
      <th>Start</th>
      <th>End</th>
      <th>Instructor</th>
      <th>Last Updated</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.name, cohort %></td>
        <td><%= link_to cohort.course.name, cohort.course %>
        </td>
        <td><%= cohort.start.strftime('%D') %></td>
        <td><%= cohort.end.strftime('%D') %></td>
        <td><%= cohort.instructor.last_name %></td>
        <td><%= cohort.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort),class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Delete', cohort,class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




