<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @cohort.start.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<p>
  <strong>End:</strong>
  <%= @cohort.end.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= link_to @cohort.instructor.full_name, @cohort.instructor %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @cohort.course.name, @cohort.course %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @cohort.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @cohort.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
