<p id="notice"><%= notice %></p>
<div class="row justify-content-center">
<div class="card center" style="width: 25rem;">
  <%=image_tag(@student.avatar, class: 'card-img-top') %>
  <div class="card-body">
    <h4 class="card-title"><%= @student.full_name %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Age:</strong> <%= @student.years %></li>
    <li class="list-group-item">
      <ul class="list-group list-group-flush">
        <% if @student.cohorts.length > 0 %>
          <% @student.cohorts.each do |cohort| %>
            <li class="list-group-item"> <%= link_to abbreviate(cohort.course.name), cohort.course, :class => 'badge badge-primary' %> <%= link_to cohort.name, cohort %></li>
          <% end %>
        <% else %>
          <li class="list-group-item"><%= @student.cohorts.length %> cohorts</li>
        <% end %>
      </ul>
    </li>
    <li class="list-group-item"><strong>Last Updated</strong> <%= @student.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Edit', edit_student_path(@student), class: 'card-link btn btn-primary'  %>
    <%= link_to 'Expel', @student, method: :delete, data: {confirm: 'Are you sure?'}, class: 'card-link btn btn-danger' %>
  </div>
</div>

</div>

<br>