<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Cohort</th>
      <th>Student</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
<!--        <td><%#= enrollment.student.full_name %></td>-->
<!--        <td><%#= enrollment.student.cohorts %></td>-->
        <td><%= enrollment.cohort.name %></td>
        <td><%= enrollment.student.full_name %></td>
        <td><%= enrollment.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# @enrollments.each do |enrollment| %>
<!--  <ul>-->
<!--    <li><%#= enrollment.cohort.name %></li>-->
    <%# enrollment.cohort.students do |student| %>
    <%#= student.full_name %>
      <%# end %>


<!--    <li><%#= enrollment.student.full_name %></li>-->
<!--    <li><%#= enrollment.created_at %></li>-->
<!--    <li><%#= enrollment.updated_at %></li>-->
<!--    <li><%#= link_to 'Show', enrollment %></li>-->
<!--    <li><%#= link_to 'Edit', edit_enrollment_path(enrollment) %></li>-->
<!--    <li><%#= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
<!--  </ul>-->
<%# end %>




<%= link_to 'New Enrollment', new_enrollment_path %>
