<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= link_to @enrollment.student.full_name, @enrollment.student %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= link_to @enrollment.cohort.name,  @enrollment.cohort %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @enrollment.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @enrollment.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %I:%M:%S %p') %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
