<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @course.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @course.updated_at %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
